extends base

block var
  - pageTitle = post.title
  if post.description
    - metaDescription = post.description
block content
  .container
    .post-head.group
      a(href="#{data.baseUrl + post.url}")
        h1.post-title #{post.title}
      span.post-date #{post.date.getUTCDate()}.#{post.date.getUTCMonth() + 1}.#{post.date.getUTCFullYear()}
    .post-body.markdown !{post.content}

    include social